<ion-view id="page10">
  <ion-nav-title>
    <span style="color:#ffd600">SC RHEINDORF ALTACH</span>
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div class="list card">
        <div class="item item-body">
      <p>
      Die SCRA Fan News - App ist in erster Linie für Sportclub Rheindorf Altach Fans gedacht. Sie liefert Neuigkeiten über den Verein oder Spieler des Vereins, und listet die aktuellsten Neuigkeiten von der offiziellen Vereinsseite auf. Zusätzlich sind Informationen wie beispielsweise die Anstoßzeiten des nächsten Spieltags inkl. Liveticker der Begegnungen (von laola1.at) und die aktuelle Tabelle der Bundesliga (von bundesliga.at) abrufbar.
      </p>
      <p>
        Die zur Verfügung gestellte App wurde von den Fans für die Fans entwickelt und steht in keinem direkten Kontakt mit dem Sportclub Rheindorf Altach.
      </p>
      <p>        <b>Rückfragen? Änderungswünsche? Probleme? </b></p>
      <p>
        <a href="mailto:florian.mathis@gmx.at" class="subdued">contact via email</a>
        <a href="https://www.austriansoccerboard.at/profile/48982-floma/" class="subdued">contact via austriansoccerboard.at</a>
      </p>

<ion-list class="item-text-wrap">
  <ion-list-header>
    Contribution
  </ion-list-header>
  <ion-item>
    Danke an bundesliga.at für die Unterstützung dieses Projekts! ⚽️
  </ion-item>
  <ion-item>
    Vielen Dank auch an die Altacher ASB-Community für den Input! 🙌
  </ion-item>
</ion-list>

    </div>

  </div>
  </ion-content>
</ion-view>
