<ion-view id="page8">
  <ion-nav-title>
    <span>SC RHEINDORF ALTACH</span>
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
     <!-- our list and list items -->
     <ion-refresher
      on-refresh="doRefresh()">
   </ion-refresher>
     <ion-list>
       <ion-item class="item-text-wrap" ng-repeat="content in googlenews" ng-click="goto(content.link)">
         <b>{{content.title}}</b>
       </br>
       <p align="right" style="font-size:70%;">Quelle: {{content.source}}</p>

              </ion-item>

     </ion-list>
<!--<a href-inappbrowser="www.google.at" id="news-button1" class="button button-positive button-block">Tap me!</a> -->
  </ion-content>
</ion-view>
