<ion-view title="SCRA.AT" id="page7">
    <ion-content padding="true" class="has-header">
       <!-- our list and list items -->
       <ion-list>
         <ion-item ng-repeat="content in items" ng-click="goto(content.link)">
           <b>{{content.title}}</b>
         </br>
         {{content.description}}
                </ion-item>
       </ion-list>
    <!-- <a href-inappbrowser="www.google.at" id="news-button1" class="button button-positive button-block">Tap me!</a> -->
    </ion-content>
  </ion-view>
